@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-titles {
  z-index: 1;
  background-color: transparent;
  gap: 32px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.work {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  padding: 120px;
  flex-direction: column;
}

.navbar {
  width: 100%;
  height: 100px;
  position: fixed; /* Change position to fixed */
  top: 0; /* Align the navbar to the top */
  left: 0; /* Ensure it's aligned to the left */
  z-index: 10; /* Set z-index appropriately */
}

.contact-email {
  display: flex;
  font-family: "Inter";
  justify-content: flex-end; /* Align the content to the right */
  align-items: center; /* Center vertically */
  color: white;
  padding: 20px; /* Add padding for better spacing */
  font-size: 16px;
  margin: 0px 30px 0px 0px;
  letter-spacing: 0.9px;
  font-weight: normal;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Initial opacity set to 0 */
  z-index: 0; /* Set a lower z-index to position below the text and work cards */
}

.gradient img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 13.25%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  opacity: 1;
  z-index: 3;
}

.prev {
  position: relative;
  width: 500px;
  height: 300px;
  z-index: 3;
  opacity: 0.3;
  box-shadow: 0 0.5px 0.5px 0.5px #fff;
  aspect-ratio: 16/9;
}

#prev-1 {
  top: -500px;
}

#prev-2 {
  top: 0;
}

#prev-3 {
  top: 500px;
}

p {
  position: relative;
  color: #fff;
  font-size: 30px;
  margin-bottom: 1em;
}

.work-item {
  position: relative;
  width: 100%;
  color: #fff;
  padding: 18px 0;
  display: flex;
  align-items: center;
  gap: 2em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 5px;
  z-index: 4;
}

.work-item h1 {
  color: #fff; /* Initial color set to white */
  transition: color 0.5s; /* Smooth transition for color change */
  font-family: "Inter", "Lucida Sans";
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 3px;
}

.work-item#w-3 {
}

@media (max-width: 900px) {
  .work {
    padding: 4em 1em;
  }

  p {
    font-size: 16px;
  }

  h1 {
    font-size: 30px;
  }
}

.hero-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 90px;
  z-index: 1;
  margin-top: 0px;
  margin-bottom: 90px;
}

.hero-h1-title {
  font-size: 45px;
  position: relative;
  color: white;
  font-family: "Inter", "Lucida Sans";
  font-weight: 100;
  letter-spacing: 3px;
  width: 540px;
  text-transform: uppercase;
}

.hero-h2-title {
  font-size: 16px;
  bottom: 10%;
  color: white;
  font-family: "Inter", "Lucida Sans";
  font-weight: 100;
  letter-spacing: 3px;
  width: 500px;
  text-transform: uppercase;
}

.recent-projects {
  z-index: 3;
  font-size: 54px;
}
